.chart{
    flex:4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 0.8em;
    color: gray;
    .title{
        margin-bottom: 1.4em;
    }
    .chartGrid{
        stroke: rgba(228,225,225);
    }
}